@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@600&family=Ubuntu:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(0, 0, 0);
  font-family: 'Ubuntu', sans-serif;
  align-items: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(rgb(14, 142, 165), rgb(44, 128, 44));
}
.heading {
  margin-bottom: 20px;
}
.weather-app {
  background: rgb(222, 240, 255);
  width: 600px;
  height: 50%;
  border-radius: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.6);
}

.location,
.temp {
  height: 30vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.temp {
  flex-direction: column;
}
.degree {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.degree span {
  margin: 10px;
  font-size: 25px;
}
.degree {
  font-size: 30px;
}
.notification {
  margin-bottom: 50px;
  color: aliceblue;
}
